@model TeamLocum.Web.Models.Locum

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Locum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarasId" class="control-label"></label>
                <input asp-for="CarasId" class="form-control" />
                <span asp-validation-for="CarasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumePath" class="control-label"></label>
                <input asp-for="ResumePath" class="form-control" />
                <span asp-validation-for="ResumePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GmcNumber" class="control-label"></label>
                <input asp-for="GmcNumber" class="form-control" />
                <span asp-validation-for="GmcNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

